*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree';
}
div{
    padding: 10px;
}
.container{
    width: 350px ;
    padding: 20px;
    height:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border:0.5px solid black;
    box-shadow: 10px 10px black;
}
h3{
    width: fit-content;
    background-color:hsl(47, 88%, 63%) ;
    padding: 10px;
    border-radius: 5px;
}
#first-p{
    color:hsl(0, 0%, 7%)
}
#second-p{
    color:hsl(0, 0%, 42%);
}
h2{
    font-weight: bold;
}
span{margin-top:15px;
    font-weight: bold;
    margin-bottom: 10px;
}
#icon{
    width:50px;
    height:50px;
}
.last{
    display:flex;
    gap: 10px;
    align-items: flex-start;
}